body{
    background-color: rgb(5, 5, 29) !important;
}

.stringBox{
    background-color: #F7F8F2;
}

.solution{
    background-color: #F7F8F2;
    margin-top: -700px;
}

#regEx{
    color: rgb(35, 31, 47); 
    overflow: hidden;
} 
#Dfa{
    color: rgb(35, 31, 47); 

}
.btn{
    background-color: rgb(205, 199, 255);
}

.text-center {
    padding-top: 10px;
    padding-bottom: 10px;   
}

.small-solution {
    margin-left: 600px;
    width: 1250px;
    height: 800px;
}

.image {
    display: none; 
    justify-content: center;
    align-items: center;
    margin-top: 150px; 
    margin-left: 40px
}

.center-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 26vh;
    margin-left: 50px;
}
#calcExecute{
    color: rgb(35, 31, 47); 
}
.dropdown-container-fluid{
    margin-top: 200px;
    margin-left: 20px;
}
.container-fluid{
    margin-left: 10px;
}
#calcExecute:hover {
    background-color: rgb(166, 248, 128); 
    color: rgb(35, 31, 47); 
}
#Dfa:hover {
    background-color: rgb(166, 248, 128); 
    color: rgb(35, 31, 47) 
}
#regEx:hover {
    background-color: rgb(166, 248, 128); 
    color: rgb(35, 31, 47) 
}
